# Ignore all node_modules
/node_modules
npm-debug.log
.DS_Store
/*.env

# Compiled JS
public/bundle.js
public/bundle.js.map

# NPM errors
npm-debug.log

# ignore hidden files
.DS_Store

README.md
rubric/
seed.js
wireframes/
